# Variables d'environnement pour le backend Django EvexTicket

DATABASE_URL=postgresql://postgres:password@localhost:5432/evexticket
SECRET_KEY=django-insecure-a-remplacer
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,10.0.2.2,192.168.88.172,192.168.252.1,192.168.137.44,*

CORS_ALLOW_ALL=False
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:19006,http://127.0.0.1:19006

# QosPay (QOSIC) - Togo
# Ces valeurs restent uniquement cote backend. Ne jamais les mettre dans le web ou le mobile.
QOSPAY_BASE_URL=https://api.qosic.net
QOSPAY_API_USERNAME=QSUSR6251
QOSPAY_API_PASSWORD_TOGOCEL=WNMloOlLsaUtoufJKcX7
QOSPAY_API_PASSWORD_MOOV=JVKxYpBLj8PAFtvLw8tr
QOSPAY_CLIENT_ID_TOGOCEL=TG_EVEX2CW
QOSPAY_CLIENT_ID_MOOV=TG_EVEXLKW
QOSPAY_REQUEST_URL_TOGOCEL=https://api.qosic.net/QosicBridge/tm/v1/requestpayment
QOSPAY_REQUEST_URL_MOOV=https://api.qosic.net/QosicBridge/tg/v1/requestpayment
QOSPAY_STATUS_URL_TOGOCEL=https://api.qosic.net/QosicBridge/tm/v1/gettransactionstatus
QOSPAY_STATUS_URL_MOOV=https://api.qosic.net/QosicBridge/tg/v1/gettransactionstatus
QOSPAY_CALLBACK_URL=https://api.evex-tg.com/api/payments/webhook/
QOSPAY_TIMEOUT=30
QOSPAY_VERIFY_SSL=True
